/amx-items
/custom.el
/elpa
/elpa-*
/eshell
/history
/lisp/custom.el
/org
/places
/private
/projectile-bookmarks.eld
/projectile.cache
/recentf
/server
/auto-save-list/.bookmark.el
/auto-save-list/bookmarks
/auto-save-list/custom.el
/auto-save-list/prescient-save.el
/auto-save-list/projectile-bookmarks.eld
/auto-save-list/recentf
/auto-save-list/savehist
/auto-save-list/saveplace
/auto-save-list/.saves-*
/auto-save-list/.smex-items
/transient
/site-lisp/sdcv-dict
/site-lisp/extensions/modeline
/.emacs.desktop
/.emacs.desktop.lock
/lib/.bookmark.el
/lib/bookmarks
/lib/prescient-save.el
/lib/projectile-bookmarks.eld
/lib/recentf
/lib/savehist
/lib/saveplace
/lib/.saves-*
/url/
*.elc
*.html
*.so
